/* ccs for forgetpassword page */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif, monospace;
}

body{
    background-image: linear-gradient(to left, white, whitesmoke);
    height: 700px;
    width: 100%;
}

.header{
    background-image:  linear-gradient(to right, #1d2024, #353b43);
    color: white;
    height: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo{
    position: absolute;
    left: 30px;
    color: white;
    text-decoration: none;
}

.title{
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom:50px;
}

.box{
    border: 3px solid #353b43;
    height: 325px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 150px;
}

.resetlogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #353b43;
 }

button{
    border: none;
    border-radius: 10px;
    width: 48%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3px;
    display: inline-block;
    background-color: #1d2024;
    color: white;
    font-weight: bolder;
}

.warning-text{
    font-size: small;
    position: relative;
    bottom: 55px;
    left: 190px;
}

.invalid-text{
    position: relative;
    top: 40px;
}